---
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import Pagination from "../../components/Pagination.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allArticles: CollectionEntry<"blog">[] = await getCollection("blog");
---

<MainLayout title="Articles">
    <h1 class="text-2xl pb-3">All Articles</h1>
    <!-- Main Grid -->
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Article Card -->
        {allArticles.map((article) => <ArticleCard article={article} />)}
    </div>

    <!-- Pagination -->
    <Pagination />
</MainLayout>
